{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container post">
    <article>
        <header>
            <div class="post-title">
                <h1 class="title">
                    <a class="title-link" href="{{ .Permalink | safeURL }}">
                        {{ .Title }}
                    </a>
                </h1>
            </div>
            <div class="post-meta">
                {{ with .Page.Params.Authors }}{{ partial "taxonomy/authors.html" . }}{{ end }}
                {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
                {{ with .Page.Params.repo_url }}{{ partial "repolink.html" . }}{{ end }}
                {{ with .Page.Params.live_site_url }}{{ partial "livesitelink.html" . }}{{ end }}
            </div>
        </header>

        <div>

            {{ with .Resources.ByType "image" }}
                {{ range first 1 . }}
                    {{ $image := .Fill "600x400" }}
                    <div class="page-featured-image">
                        <img src='{{ $image.RelPermalink }}' alt="{{ $image.Title }}" />
                    </div>
                {{ end }}
            {{ end }}
            {{ .Content }}
        </div>


        <footer>
            {{ partial "posts/series.html" . }}
            {{ partial "posts/disqus.html" . }}
            {{ partial "posts/commento.html" . }}
            {{ partial "posts/utterances.html" . }}
        </footer>
    </article>

    {{ partial "posts/math.html" . }}
</section>
{{ end }}